.intro {
    
    position: relative;
        background-image: url("../../../assets/background/b8.jpg") ;
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        
        /* Parallax effect */
        color: white;
        text-align: center;
        overflow: hidden;
        /* To prevent any overflow */
        z-index: -1;
}

/* Overlay with semi-transparent color */
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust the transparency by changing the last value (0.5) */
    z-index: 1;
}

/* Parallax scrolling effect */
.intro h1,
.intro p {
    opacity: 6;
    animation: fadeInUp 1.5s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.intro h1 {
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
}


.intro p {
    font-size: 20px;
    color: #b3b3b3;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

h2 {
    font-size: 36px;
    text-align: left;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 20px;
}

hr {
    background-color: #ffffff;
    margin-left: 10vw;
    margin-right: 10vw;
}

p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.7;
    color: #e0e0e0;
    text-align: justify;
    padding: 2vw;

}


/* Intro Section */
.intro {
    /* Add your image URL */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

