<!-- Intro Section -->
<div class="intro">
    <h1>Exploring the Frontiers of AI and ML</h1>
    <hr>
    <p>Welcome to ANVESHAN, the AI, ML, and Research Club of The National Institute of Engineering. Our mission is to
        empower students and enthusiasts by providing a platform where they can explore the latest advancements in
        artificial intelligence and machine learning. We believe in the power of technology to transform lives and solve
        real-world challenges, and our club is dedicated to fostering innovation and collaboration in this exciting
        field.
    </p>
    <p>At ANVESHAN, we engage in various projects that leverage AI and ML technologies, focusing on practical
        applications
        that can make a difference. We encourage our members to dive deep into research, share their findings, and
        contribute to the growing body of knowledge in AI and ML. Through workshops, discussions, and collaborative
        projects, we aim to inspire the next generation of tech leaders.</p>
</div>

<app-subscribe></app-subscribe>