<!-- blog-post.component.html -->
<div class="blog-container">
    <header class="blog-header">
        <div class="container">
            <h1>{{ blogTitle }}</h1>
        </div>
    </header>

    <main class="blog-content">
        <div class="container">
            <section class="intro">
                <h2>{{ introTitle }}</h2>
                <p>{{ introText }}</p>
            </section>

            <section class="blog-section">
                <h2>{{ historicalTitle }}</h2>
                <p>{{ historicalText }}</p>
            </section>

            <section class="blog-section">
                <h2>{{ fourierTitle }}</h2>
                <p>{{ fourierText }}</p>

                <div class="image-section">
                    <img [src]="imageUrl" alt="Machine Learning Illustration" class="center-image">
                    <figcaption class="image-caption">{{ fourierImageCaption }}</figcaption>
                </div>
            </section>

            <section class="blog-section">
                <h2>{{ mlWhenToChooseTitle }}</h2>
                <p>{{ mlWhenToChooseText }}</p>
            </section>

            <section class="blog-section">
                <h2>{{ mlHowWorksTitle }}</h2>
                <p>{{ mlHowWorksText }}</p>
            </section>

            <section class="blog-section">
                <h2>{{ mlApplicationsTitle }}</h2>
                <ul class="applications-list">
                    <li *ngFor="let application of applications">{{ application }}</li>
                </ul>
            </section>

            <section class="blog-section">
                <h2>{{ conclusionTitle }}</h2>
                <p>{{ conclusionText }}</p>
            </section>
        </div>
    </main>
    <app-subscribe></app-subscribe>
</div>